<div class="about-main">
  <div class="about-cover">
    <div class="about-message">
      <h2>TweetAppとは</h2>
      <p>
        SNSサービスです。<br>
        近況をつぶやいたり、友達のつぶやきにコメントしたり、<br>
        お気に入りのつぶやきに「いいね！」したり。<br>
        いつでも、どこにいても、世界中のユーザーと楽しくコミュニケーションできます。
      </p>
      <img class="about-img" src="/tweets_V2.png">
    </div>
  </div>
</div>