<div class="main top-main">
  <div class="top-cover">
    <div class="top-message">
      <h2>今この瞬間から、<br>世界とつながれる</h2>
      <p>さぁ、つぶやいてみよう！</p>
      <p style="font-size: 14px; padding-top: 10px;">
        based on Progate.<br>
        arranged by y1tkt.
      </p>
    </div>
  </div>
</div>