<header>
  <div class="header-logo">
    <!--トップページへのリンクを追加-->
    <%= link_to 'TweetApp', '/' %>
  </div>
  <ul class="header-menus">
    <li>
      <!--サービス紹介ページへのリンクを追加-->
      <%= link_to 'TweetAppとは', '/about' %>
    </li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>つぶやきで、世界はつながる</h2>
    <p>今の気持ちをつぶやいてみよう！</p>
  </div>
</div>